<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>后台主界面</title>
    <script type="text/javascript" src="/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/easyui/easyloader.js"></script>
    <link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css"  href="/easyui/themes/default/easyui.css">

</head>

<body class="easyui-layout">
    <div data-options="region:'north',title:'头部',split:true" style="height:100px;">
        <h1> 顶部 </h1>
    </div>
    <div data-options="region:'south',title:'底部',split:true" style="height:100px;">
        <h1>底部 </h1>
    </div>
    <div data-options="region:'west',title:'左部',split:true" style="width:200px;">
        <h1>左部 </h1>
    </div>
    <div data-options="region:'center',title:'中部'"  >
        <h1>中部 </h1>
    </div>
    </body>


</body>

</html>